.nav-menu_nav-item{
    text-decoration: none;
    color: #caf0f6;
    background-color:#262d79;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
}
.nav-menu_nav-item:hover{
    transform: scale(1.03);
}

.header-menu-container_nav-menu{
    display: flex;
    flex-direction: row;
    min-width: min-content;
    justify-content: space-evenly;
    width: 100%;
}

.header-menu-container{
    width: 60%;
}

#Glavstr{
    width: 180px;

} 

#Spis{
    width: 180px;
} 