.App {
  font-family: sans-serif;
  text-align: center;
}

.container {

  height: 300px;
}

.btn{
  text-decoration: none;
  background-color: cornflowerblue;
  border-radius: 8px;
  padding: 10px;
}

.router-nav-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 30px;
}